NODE_ENV=test
PORT=3000

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/tasks-api
# MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/tasks-api

# Auth
JWT_SECRET=a-secret-jwt-key
JWT_COOKIE_EXPIRES_IN=30

# Rate limiting
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MS=900000